[submodule "evinos/src/vm/os/homepage-secret"]
	path = evinos/src/vm/os/homepage-secret
	url = git@github.com:evinism/homepage-secret.git
[submodule "public/oh-dear"]
	path = public/oh-dear
	url = git@github.com:dshemetov/oh-dear.git
[submodule "public/hl-sounds"]
	path = public/hl-sounds
	url = git@github.com:evinism/hl-sounds.git
