body {
  font-size: 1.4em;
  border: 3px solid #44ff44;
  margin-left: 10px;
  padding-left: 10px;
  background-color: black;
  color: #44ff44;
}

pre {
  font-family: 'VT323', monospace;
}

.cursor {
  content: ' ';
  animation: cursorBlink 0.7s infinite;
}

@keyframes cursorBlink {
	0% {
    background-color: transparent;
  }
	40%{
    background-color: transparent;
  }
	50% {
    background-color: #44ff44;
  }
  90% {
    background-color: 44ff44;
  }
}