body {
  margin: 0;
  background-color: black;
}

.app {
  position: relative;
}

.multiplier1 {
  background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    #eee 10px,
    #eee 20px
  );
}

.multiplier2 {
  mix-blend-mode: multiply;
  background: repeating-linear-gradient(
    0deg,
    white,
    white 1px,
    #ccc 1px,
    #ccc 2px
  );
}

.screen-wrapper {
  mix-blend-mode: multiply;
  background-color: black;
  padding: 10px;
  min-height: calc(100vh - 20px);
}

.screen {
  font-size: 1.4em;
  border: 3px solid #44ff44;
  padding-left: 10px;
  color: #44ff44;
  min-height: calc(100vh - 30px);
}

pre {
  font-family: 'VT323', monospace;
}

/* LOL @ this button tho */
input {
  position: absolute;
  bottom: 0;
}

.cursor {
  data: ' ';
  animation: cursorBlink 0.7s infinite;
}

@keyframes cursorBlink {
	0% {
    background-color: transparent;
  }
	40%{
    background-color: transparent;
  }
	50% {
    background-color: #44ff44;
  }
  90% {
    background-color: 44ff44;
  }
}

iframe {
  display: none;
}