.app {
  position: relative;
  background-color: black;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  :global {
    .multiplier1 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      background: repeating-linear-gradient(
        45deg,
        white,
        white 10px,
        #eee 10px,
        #eee 20px
      );
    }

    .multiplier2 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      mix-blend-mode: multiply;
      background: repeating-linear-gradient(
        0deg,
        white,
        white 1px,
        #ccc 1px,
        #ccc 2px
      );
    }

    .screen-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      mix-blend-mode: multiply;
      background-color: black;
      padding: 10px;
    }

    a {
      color: #44ff44;
    }

    a:hover {
      color: #aaffaa;
    }
    .screen-input {
      width: 0;
      &:focus {
        outline: none;
      }
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .screen {
      flex-grow: 1;
      font-size: 1.4em;
      border: 3px solid #44ff44;
      padding-left: 10px;
      color: #44ff44;
      transition: color 1.5s ease-in 0.5s, border 1.5s ease-in 0.5s;
    }

    .screen.off {
      border: 3px solid #242;
      color: black;
    }

    .screen.off a {
      color: inherit;
    }

    pre {
      font-family: "VT323", monospace;
      white-space: pre-wrap;
    }

    .cursor {
      content: " ";
      animation: cursorBlink 0.7s infinite;
    }

    .screen.off .cursor {
      display: none;
    }
  }
}

/* COLOR THEMES */
.app.orangeTheme {
  :global {
    .screen {
      color: #ff9029;
      border-color: #ff9029;
    }

    a {
      color: #ff9029;
    }

    .cursor {
      animation: cursorBlinkOrange 0.7s infinite;
    }

    a:hover {
      color: #ffc14f;
    }
  }
}
