@font-face {
  font-family: 'FreeMono';
  src: url('../assets/freefont/FreeMono.ttf');
  font-weight: 400;
  font-style: normal;
}

.mando {
  padding: 0 8px;
  max-width: 800px;
}

.fretdiagram {
  font-family: FreeMono, monospace;
  line-height: 20px;
  font-size: 20px;
}

.noheight {
  line-height: 0;
}

.rootchordli {
  padding: 5px
}

.settingsslot {
  padding-left: 10px;
  border-left: 3px solid black;
}