.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #202020;
}

.Background::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iOTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDx0ZXh0IGZpbGwtb3BhY2l0eT0iMC4xIiB4PSIwIiBmaWxsPSIjRkZGRkZGIiB5PSIxMiI+dGFjb3RhY29idXJyaXRvPC90ZXh0Pg0KPC9zdmc+) 0 0 repeat;
  transform: rotate(30deg);
  filter:brightness(0.3)
}

.TitleLine {
  display: flex;
}

.App hr {
  margin: 1rem 0;
}

.Title {
  flex-grow: 1;
}

.AppInner {
  z-index: 1;
  max-width: 600px;
  padding: 2rem;
  margin: auto;
  background-color: #444444;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media  (max-width: 600px) {
  .AppInner {
    width: 100vw;
    margin: 2rem 0;

  }
  .App {
    min-height: unset;
  }
}

.BeatArray {
  padding: 1.5rem 0 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.BeatIcon {
  font-size: 1.5rem;
  border: 1px gray dotted;

  margin: 0.25rem;
  border-radius: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

.BeatArray > br{
  width: 100%;
  content: '';
}

.BeatIcon.inactive {
  color: gray;
}

.BeatIcon.active {
  color: white;
  border-color: white;
}

.BeatIcon.weak {
  border-width: 0.2rem;
  border-style: solid;
}

.BeatIcon.strong {
  border-width: 0.6rem;
  border-style: solid;
}

.ClickInstructions {
  font-style: italic;
  color: #666;
  height: 1.25rem;
  padding-left: 0.25rem;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.ClickInstructions.IsIrrelevant {
  opacity: 0;
}


.ButtonGroup {
  display: flex;
}

.ButtonGroup .Spacer {
  flex-grow: 1;
}

.Settings {
  position: relative;
  background-color: #444;
  transition: height 0.2s ease-out;
  left: 0;
  top: 1rem;
  height: 165px;
  margin: 0 -2rem;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset;
}

.SettingsInner {
  padding: 1rem 2rem;
}

.Settings.Closed {
  height: 0;
}